h1{
    color: orange;
    font-family: "Segoe UI";
}

.kotak{
    padding: 50px;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 10px;
    background: #0288d1;
    float: left;
}

.kotak5{
    padding: 50px;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 10px;
    background: #2f2f2f;
    float: left;
}

#kotak{
    padding: 50px;
    width: 100px;
    color: #666666;
    height: 50px;
    margin: 10px;
    background: #f8bbd0;
    float: left;
}